www/*
logs/*
.env

!www/themes
www/themes/*
# www/themes/_libraries
# www/themes/classic
!www/themes/at_auros
www/themes/at_auros/*
!www/themes/at_auros/modules
www/themes/at_auros/modules/*
!www/themes/at_auros/assets
www/themes/at_auros/assets/*
!www/themes/at_auros/assets/img
www/themes/at_auros/assets/img/*
!www/themes/at_auros/assets/img/modules
!www/themes/at_auros/assets/js
www/themes/at_auros/assets/js/*
!www/themes/at_auros/assets/js/custom.js

!www/themes/at_auros/modules/appagebuilder
www/themes/at_auros/modules/appagebuilder/*
!www/themes/at_auros/modules/appagebuilder/views
www/themes/at_auros/modules/appagebuilder/views/*
!www/themes/at_auros/modules/appagebuilder/views/templates


!www/themes/at_auros/modules/contactform
www/themes/at_auros/modules/contactform/*
!www/themes/at_auros/modules/contactform/views
www/themes/at_auros/modules/contactform/views/*
!www/themes/at_auros/modules/contactform/views/templates

!www/themes/at_auros/mails
!www/themes/at_auros/templates
# !www/themes/at_auros/modules/appagebuilder
# www/themes/at_auros/modules/appagebuilder/*
# !www/themes/at_auros/modules/appagebuilder/views
# www/themes/at_auros/modules/appagebuilder/views/*
# !www/themes/at_auros/modules/appagebuilder/views/templates


# !www/modules/custom_module

!www/override/
# !www/modules/appagebuilder/views/templates
# !www/modules/contactform/views/templates
# !www/modules/leoblog/views/templates
# !www/modules/leobootstrapmenu/views/templates
# !www/modules/leofeature/views/templates
# !www/modules/leoproductsearch/views/templates
# !www/modules/leoquicklogin/views/templates
# !www/modules/leoslideshow/views/templates